<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hide & Seek</title>
    <link rel="stylesheet" href="/static/css/hidendseek.css?v=9">
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/hidendseek.js?v=11"></script>
</head>
<body>
    <div id="divSetting" class="on">
        <input type="hidden" id="hiddenRow" value="" />
        <input type="hidden" id="hiddenCol" value="" />
        <input type="text" id="textRow" class="textinput" maxlength="2" value="" placeholder="10~20">
        <input type="text" id="textCol" class="textinput" maxlength="2" value="" placeholder="10~20">
        <input type="button" class="button" value="Start" onclick="gameStart();" />
    </div>
    <div id="divGame" class="off ">
        <input type="hidden" id="hiddenKey" value="" />
        <input type="hidden" id="hiddenTag" value="" />
        <input type="hidden" id="hiddenNonce" value="" />
    <p>보석을 찾아보자 <b><span id="hider" class="hider-label"></span></b></p>
    <p><b class="message-label">Message: <span id="message"></span></b></p>
        <div id="viewport" class="viewport" tabindex="0">
            <div class="room">
                <div class="panel panel-top"></div>
                <div class="panel panel-bottom"></div>
                <div class="panel panel-left"></div>
                <div class="panel panel-right"></div>
                <div class="inner"></div>
                <div class="ceiling"></div>
                <div class="floor"></div>
                <div class="void"></div>
                <div id="hudSteps" class="hud-steps" aria-live="polite"></div>
            </div>
            <canvas id="minimap" width="160" height="160" class="minimap"></canvas>
        </div>
        <div id="foundOverlay" class="found-overlay" style="display:none" tabindex="0">
            <img id="foundOverlayImg" alt="found" />
        </div>
        <div id="monsterOverlay" class="found-overlay" style="display:none" tabindex="0">
            <img id="monsterOverlayImg" alt="monster" />
        </div>
        <table id="tableMap">
        </table>
    </div>
</body>
</html>