<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hide & Seek!</title>
    <link rel="stylesheet" href="/static/css/hidendseek.css?v=2">
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    <script src="/static/js/hidendseek.js"></script>
</head>
<body>
    <div id="divSetting" class="on">
        <input type="text" id="textRow" class="textinput" maxlength="2" value="" placeholder="row">
        <input type="text" id="textCol" class="textinput" maxlength="2" value="" placeholder="col">
        <input type="button" class="button" value="Start" onclick="gameStart();" />
    </div>
    <div id="divGame" class="off ">
        <input type="hidden" id="hiddenGameKey" value="" />
        <p>You should seek <b><span id="hider" class="labelhider"></span></b></p>
        <table id="tableMap">
        </table>
    </div>
</body>
</html>